<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jericho Pete Razon | Full-Stack Web Developer</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/project.css" />
  </head>

  <body>
    <%- include('partials/header') %>
    <main>
      <section class="projects"></section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/hamburger.js"></script>
  </body>
</html>
