<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jericho Pete Razon | Full-Stack Web Developer</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/submission.css" />
  </head>

  <body>
    <main>
      <section id="submission-page">
        <div class="submitted">
          <h1>Form submitted successfully!</h1>
        </div>

        <div class="thank-you">
          <p>Thank you! The form has been submitted successfully. I will reply to you soon!</p>
        </div>

        <div class="thank-you-buttons">
          <a href="/" class="btn">Back to Home</a>
          <a href="/contact" class="btn btn-secondary">Send another message</a>
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/hamburger.js"></script>
  </body>
</html>
